@import url('https://fonts.googleapis.com/css?family=Roboto:700');
@import url('https://fonts.googleapis.com/css?family=Righteous');

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

a{
    text-decoration: none;
}

/*navigation bar*/
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 12%;
    padding: 20px 100px;
    box-sizing: border-box;
    transition: .5s;
    background: rgba(0, 0, 0, .1);
    z-index: 1;
}

nav.logo {
    float: left;
}

.logo span{
    font-family: 'Righteous', cursive;
    padding-top: 10px;
    font-size: 35px;
    color : rgba(242, 93, 70, 1);
}

nav.black{
    background: rgba(56,54,67,1);
}

nav.logo span {
    height: 80px;
    transition: .5s;
    color: #fff;
}

nav ul {
    float: right;
    margin: -45px 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    /*line-height: 0px;*/
    color: coral;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    transition: .5s;
    font-size: medium;
}

.active, nav ul li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(242, 93, 70, 1);
}


/*hero area image*/
section.sec1 {
    width: 100%;
    height: 100%;
    background: url("/team4.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*about section*/
.about {
    padding: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.about h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: rgba(242, 93, 70, 1);
}

.about p {
    margin: 10px 0px;
}

/*contact section*/
.contact {
    padding: 20px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

.contact h2 {
    font-size: 2em;
    color: rgba(242, 93, 70, 1);
    margin-bottom: 20px;
}

.contact form {
    margin: auto;
}

.contact label {
    display: block;
    margin: 15px 0px 5px 0px;
    text-align: left;
}

.contact input, textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid;
}

/*image between Register and Contact section*/
section.image2 {
    width: 100%;
    opacity: 0.5;
    height: 400px;
    background: url("/desk.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*image between about and register section*/
section.image3 {
    width: 100%;
    opacity: 0.5;
    height: 400px;
    background: url("/fistbump1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*submit button in contact section*/
.button {
    width: 100px;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button5 {
    margin-top: 20px;
    background-color: white;
    color: rgba(242, 93, 70, 1);
    border: 2px solid rgba(242, 93, 70, 1);
    padding: 10px;
}

.button5:hover {
    background: linear-gradient(to right, #B24592, #F15F79);
    color: white;
}

#myModal {
    background: linear-gradient(to right, #833ab4, #fd1d1d, #fcb045);
}

#loginModal{
    background: linear-gradient(to right, #00467F, #A5CC82);
}

.modal-content  {
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}